.card {
    max-width: 400px;
  }
  
  .header-image {
    background-image: url('https://cdn3.iconfinder.com/data/icons/design-142/24/crop-512.png');
    background-size: cover;
  }

  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
  }

  .imgs {
    max-width: 100px;
    max-width: 100px;
  }